.page-home {
  background-image: url('../images/roofing-worker.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 50px;

  @include media-breakpoint-up(sm) {
    background-size: 100%;
    background-position: 159px -40px;
  }

  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% -50px;
  }

  @include media-breakpoint-up(lg) {
    background-size: 60%;
    background-position: 100% 50px;
    background-size: contain;
  }
}